* {
    padding: 0px;
    margin: 0px;
    border-spacing: 0;
    border-collapse: collapse;
}

@media (max-width: 640px) { 
    .game-piece {
        transform: rotate(270deg) !important;
        display: inline-block !important;
    }
    #game-container {
        width: 134px !important;
        height: 536px !important;
        display: inline-block !important;
    }
    #p1_hole_0_div {
        transform: rotate(90deg) !important;
        background-image: url('../img/mancala_pot.png') !important;
    }
    #p2_hole_0_div {
        background-image: url('../img/mancala_pot.png') !important;
        transform: rotate(270deg) !important;
        position: relative !important;
        bottom: 34px !important;
    }
    .game-holes {
        max-height: 100px !important;
        position: relative !important;
        bottom: 67px !important;
    }
    body {
        line-height: .95 !important;
    }
}

#game-container {
    width: 536px;
    height: 134px;
    display: inherit;
}

.game-piece {
    background-image: url('../img/mancala_divot.png'); 
    width: 67px; 
    height: 67px; 
}

.game-holes {
    display: inline-block;
}

#p1_hole_0_div {
    background-image: url('../img/mancala_pot.png');
    width: 67px; 
    height: 134px;
}

#p2_hole_0_div {
    background-image: url('../img/mancala_pot.png');
    width: 67px; 
    height: 134px; 
    transform: rotate(180deg);
}